version: '3.1'

services:
  #app:
  #  image: node
  #  working_dir: /usr/app
  #  volumes:
  #    - .:/usr/app
  #  command: bash -c "npm install && npm run dev"
  #  ports:
  #    - "3000:3000"
  #  depends_on:
  #    - mongo
  mongo:
    image: mongo
  # restart: always
    ports:
      - '27017:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
  mongo-express:
    image: mongo-express
  # restart: always
    ports:
      - 8081:8081
    depends_on:
      - mongo
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: root